USE [master]
GO
/****** Object:  Database [StoryLineTool]    Script Date: 29-05-2021 17:06:50 ******/
CREATE DATABASE [StoryLineTool]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StoryLineTool', FILENAME = N'C:\Program Files\Microsoft SQL Server1\MSSQL15.SQLEXPRESS\MSSQL\DATA\StoryLineTool.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StoryLineTool_log', FILENAME = N'C:\Program Files\Microsoft SQL Server1\MSSQL15.SQLEXPRESS\MSSQL\DATA\StoryLineTool_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StoryLineTool].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StoryLineTool]
GO
/****** Object:  Table [dbo].[Tbl_Author]    Script Date: 29-05-2021 17:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Author](
	[Fld_WriterName] [nchar](30) NOT NULL,
	[Fld_AuthorID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_Tbl_Author_1] PRIMARY KEY CLUSTERED 
(
	[Fld_AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Comment]    Script Date: 29-05-2021 17:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Comment](
	[Fld_AuthorID] [numeric](18, 0) NULL,
	[Fld_WritingTime] [time](7) NULL,
	[Fld_CommentID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_Tbl_Comment] PRIMARY KEY CLUSTERED 
(
	[Fld_CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Event]    Script Date: 29-05-2021 17:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Event](
	[Fld_Discription] [nchar](100) NULL,
	[Fld_Relationship] [nchar](30) NULL,
	[Fld_CommentId] [numeric](18, 0) NULL,
	[Fld_StoryName] [nchar](30) NULL,
	[Fld_EventID] [numeric](18, 0) NOT NULL,
	[Fld_NoteID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Tbl_Event] PRIMARY KEY CLUSTERED 
(
	[Fld_EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Note]    Script Date: 29-05-2021 17:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Note](
	[Fld_Time] [datetime] NULL,
	[Fld_Location] [nchar](10) NULL,
	[Fld_Rote] [nchar](10) NULL,
	[Fld_Background] [nchar](10) NULL,
	[Fld_Action] [nchar](10) NULL,
	[Fld_Result] [nchar](10) NULL,
	[Fld_Comment] [nchar](30) NULL,
	[Fld_Relationship] [nchar](30) NOT NULL,
	[Fld_EventID] [numeric](18, 0) NULL,
	[Fld_NoteID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_Tbl_Note] PRIMARY KEY CLUSTERED 
(
	[Fld_NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Story]    Script Date: 29-05-2021 17:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Story](
	[Fld_Chapter] [nchar](30) NULL,
	[Fld_Direction] [nchar](30) NULL,
	[Fld_StoryName] [nchar](30) NOT NULL,
	[Fld_EventID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Tbl_Story_1] PRIMARY KEY CLUSTERED 
(
	[Fld_StoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TimeLine]    Script Date: 29-05-2021 17:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TimeLine](
	[Fld_EventsChronologically] [nchar](30) NOT NULL,
	[Fld_StoryName] [nchar](30) NULL,
 CONSTRAINT [PK_Tbl_TimeLine] PRIMARY KEY CLUSTERED 
(
	[Fld_EventsChronologically] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Comment]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Comment_Tbl_Author] FOREIGN KEY([Fld_AuthorID])
REFERENCES [dbo].[Tbl_Author] ([Fld_AuthorID])
GO
ALTER TABLE [dbo].[Tbl_Comment] CHECK CONSTRAINT [FK_Tbl_Comment_Tbl_Author]
GO
ALTER TABLE [dbo].[Tbl_Event]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Event_Tbl_Comment] FOREIGN KEY([Fld_CommentId])
REFERENCES [dbo].[Tbl_Comment] ([Fld_CommentID])
GO
ALTER TABLE [dbo].[Tbl_Event] CHECK CONSTRAINT [FK_Tbl_Event_Tbl_Comment]
GO
ALTER TABLE [dbo].[Tbl_Event]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Event_Tbl_Note] FOREIGN KEY([Fld_NoteID])
REFERENCES [dbo].[Tbl_Note] ([Fld_NoteID])
GO
ALTER TABLE [dbo].[Tbl_Event] CHECK CONSTRAINT [FK_Tbl_Event_Tbl_Note]
GO
ALTER TABLE [dbo].[Tbl_Story]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Story_Tbl_Event] FOREIGN KEY([Fld_EventID])
REFERENCES [dbo].[Tbl_Event] ([Fld_EventID])
GO
ALTER TABLE [dbo].[Tbl_Story] CHECK CONSTRAINT [FK_Tbl_Story_Tbl_Event]
GO
ALTER TABLE [dbo].[Tbl_TimeLine]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_TimeLine_Tbl_Story] FOREIGN KEY([Fld_StoryName])
REFERENCES [dbo].[Tbl_Story] ([Fld_StoryName])
GO
ALTER TABLE [dbo].[Tbl_TimeLine] CHECK CONSTRAINT [FK_Tbl_TimeLine_Tbl_Story]
GO
USE [master]
GO
